[Unit]
Description=Run Zetta mart builders every 30 minutes

[Timer]
OnBootSec=10min
OnUnitInactiveSec=30min
AccuracySec=2min
Unit=zetta-marts.service

[Install]
WantedBy=timers.target
